body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

#points {
    font-size: 24px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#character, #professions, #inventory {
    margin-top: 30px;
}

#professions div, #inventory div {
    margin-bottom: 20px;
}

#auto-increment-select {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
}

#inventory ul {
    list-style-type: none;
    padding: 0;
}